/* - Mobile: 375px
- Desktop: 1440px */

/* BASE */

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--off-white);
    margin: 0;
    padding: 0;
}

/* BASE End */

/* HELPER */
.w-100 {
    width: 100%;
}

.bt-none {
    border: none !important;
}

/* HELPER End */


/* NAV */
nav, .container {
    width: 1100px;
    margin: 0 auto;
}

nav {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 10px;
    /* margin: 0; */
    /* padding: 0; */
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

nav > ul > li > a {
    transition: all .5s ease;
}

nav > ul > li > a:hover {
    color: var(--very-dark-blue);
    text-decoration: underline dotted;
}

/* NAV End */


/* MAIN */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
}

/* SECTION */
.container > section {
    flex: 2;
}

.info {
    display: flex;
    gap: 50px;
}

.info h1 {
    font-size: 4rem;
    margin: 20px 0  0;
}

.info > .item {
    flex: 1;
}

.item-detail {
    /* display: flex;
    flex-direction: column; */
    margin-top: 20px;
    /* justify-content: space-around; */
}

.item-detail > a.btn {
    margin-top: 40px;
    padding: 15px 40px;
    background-color: var(--soft-red);
    display: inline-block;
    color: var(--off-white);
    transition: all .5s ease;
}

.item-detail > a.btn:hover {
    background-color: var(--grayish-blue);
    color: red;
}

/* ASIDE */
.container > aside {
    flex: 1;
    padding: 20px;
    background-color: var(--very-dark-blue);
}

.container > aside > h2 {
    color: var(--soft-orange);
    margin-top: 10px;
    font-size: 2rem;
}

aside > .item {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--dark-grayish-blue);
}

aside > .item:last-child {
    margin-bottom: 0px;
}

aside > .item > h3 {
    color: var(--off-white);
}

aside > .item > p {
    color: var(--grayish-blue);
}

/* MAIN, SECTION, ASIDE END */

/* FOOTER */
footer.container {
    gap: 0;
    margin-bottom: 80px;
}

footer.container > .item {
    flex: 1;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}

footer.container > .item > img {
    width: 100px;
    max-height: 120px;
    /* height: auto; */
    /* flex: 1; */
}

footer.container > .item > div {
    flex: 2;
    padding: 0 20px;
}

footer.container > .item h3 {
    margin: 0;
    color: var(--grayish-blue);
}

footer.container > .item h4 {
    margin: 10px 0 0;
}

footer.container > .item p {
    color: var(--very-dark-blue);
}

/* FOOTER END */
