/* SECTION */
main {
  & > section {
    width: 70%;
  }

  & article {
    background-color: var(--body-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;

    & > header {
      background-color: var(--body-color);
      padding: 0;
      border-bottom: none;
    }

    & > footer {
      padding: 10px 0;

      & > a {
        color: var(--link-color);
      }
    }

    & > p {
      margin-bottom: 10px;
    }
  }
}
