@charset "UTF-8";
:root {
  --green: #2ecc71;
  --blue: #3498db;
  --yellow: #f1c40f;
  --red: #e74c3c;
  --dark-blue: #34495e;
  --midnight-blue: #2c3e50;
  --light-white: #ecf0f1;
  --silver: #bdc3c7;
  --footer-color: #47a888;
  --footer-dark-theme-color: #63b89b;
  --box-size: 900px;
  --box-size-footer: 1200px;
  --bg-color: var(--light-white);
  --text-color: var(--midnight-blue);
  --body-color: white;
  --link-color: var(--blue);
  --link-color-hover: var(--dark-blue);
  --footer-head-color: var(--footer-color);
}

:root[data-theme=dark] {
  --body-color: var(--midnight-blue);
  --bg-color: var(--dark-blue);
  --text-color: var(--light-white);
  --footer-head-color: var(--footer-dark-theme-color);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

/* HELPER */
.clear-fix {
  clear: both;
}

/* GENERAL */
html {
  font-size: 16px;
}

h3 {
  font-size: 1.5rem;
}

header,
main {
  background-color: var(--bg-color);
  /* Sadece header için overflow: hidden; kullanabiliriz. Asagidaki clear: both yerine bu da kullanılabilir */
  min-height: 20px;
  padding: 20px 0;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

img {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--bg-color);
  background-color: var(--body-color);
  border-radius: 4px;
  margin: 10px 0;
}

::-moz-placeholder {
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color);
}

/* NAV */
header {
  border-bottom: 1px solid var(--silver);
}
header > nav {
  width: var(--box-size);
  margin: 0 auto;
}
header > nav > ul {
  float: left;
  list-style: none;
}
header > nav > ul:last-of-type {
  float: right;
}
header > nav > ul > li {
  float: left;
  margin-right: 10px;
}
header > nav > ul > li > strong {
  cursor: pointer;
  font-size: 1.2rem;
}
header > nav > ul > li > strong:hover {
  color: var(--link-color-hover);
  background-color: var(--silver);
}
header > nav > ul > li > a, header > nav > ul > li > strong {
  color: var(--link-color);
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
header > nav > ul > li > a:hover, header > nav > ul > li > strong:hover {
  color: var(--link-color-hover);
  background-color: var(--silver);
}
header > nav > ul > li:last-child > a {
  background-color: var(--blue);
  color: var(--bg-color);
}
header > nav > ul > li:last-child > a:hover {
  background-color: var(--dark-blue);
  color: var(--blue);
}

/* MAIN */
main {
  width: var(--box-size);
  margin: 0 auto 30px;
  /* min-height: 800px; */
  border: 1px solid var(--silver);
  border-radius: 4px;
  padding: 20px;
}

/* ASIDE */
main > aside, main > section {
  float: left;
}
main > aside {
  width: 30%;
  padding: 20px;
  text-align: center;
  transform: translateY(50%);
}
main > aside ul {
  list-style: none;
}
main > aside > ul > li {
  margin-bottom: 10px;
}
main > aside > ul > li > a {
  color: var(--link-color);
  padding: 8px 12px;
  display: block;
  transition: all 0.3s ease;
}
main > aside > ul > li > a:hover {
  color: var(--text-color);
}

/* SECTION */
main > section {
  width: 70%;
}
main article {
  background-color: var(--body-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
}
main article > header {
  background-color: var(--body-color);
  padding: 0;
  border-bottom: none;
}
main article > footer {
  padding: 10px 0;
}
main article > footer > a {
  color: var(--link-color);
}
main article > p {
  margin-bottom: 10px;
}

main + footer {
  background-color: var(--bg-color);
  text-align: center;
}
main + footer > section {
  padding: 30px 0;
}
main + footer > section:last-child {
  border-top: 1px solid var(--silver);
}
main + footer > section:last-child > h3 {
  margin: 8px;
}
main + footer > section:first-child {
  /* background-color: red; */
  width: var(--box-size-footer);
  margin: 0 auto;
}
main + footer > section > article {
  float: left;
  margin-right: 10px;
  width: 24%;
}
main + footer > section > article:last-of-type {
  margin-right: 0;
}
main + footer > section > article > h3 {
  color: var(--footer-head-color);
  margin-top: 20px;
  margin-bottom: 10px;
}
main + footer > section > article > p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
main + footer #footer_icons {
  width: 225px;
  margin: 0 auto;
}
main + footer #footer_icons a {
  color: #1c1c1c;
  font-size: 1.6rem;
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  line-height: 54px;
  transition: all 0.4s ease;
}
main + footer #footer_icons a:hover {
  background-color: var(--body-color);
  color: var(--footer-head-color);
}
main + footer #email_news {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main + footer #email_news > input {
  display: inline-block;
  color: var(--text-color);
  padding: 10px;
  background-color: var(--body-color);
  border: none;
  width: 82%;
}
main + footer #email_news > button {
  display: inline-block;
  width: 18%;
  height: 35px;
  background-color: var(--footer-head-color);
  border: none;
  opacity: 75%;
  transition: all 0.5s ease;
  cursor: pointer;
}
main + footer #email_news > button:hover {
  opacity: 100%;
  color: var(--text-color);
}
main + footer #email_news > button > i {
  font-size: 1.4rem;
  display: inline-block;
  padding: 5px 0;
  color: var(--light-white);
}
main + footer #info p:first-child {
  margin: 5px 0 10px;
}
main + footer #gallery > img {
  display: block;
  float: left;
  border: 1px solid var(--bg-color);
  background-color: var(--body-color);
  border-radius: 4px;
  margin: 0px;
  padding: 4px;
  width: 33%;
}
main + footer span {
  display: inline-block;
  margin: 6px;
  padding: 6px;
}/*# sourceMappingURL=pico-project.css.map */